Repository voxpupuli/puppet-icinga2, pull requests merged in 2018-12, with the labels that each got.

#506 Fixed requirements
  README.md
Labels: documentation

#508 Fixed markup error in Readme.md
  README.md
Labels: documentation

#471 Quote and escape string values correctly
  lib/puppet_x/icinga2/utils.rb
Labels: bug

#422 Add multiline support for lambda functions and unparsed strings.
  lib/puppet_x/icinga2/utils.rb
Labels: enhancement
