Repository voxpupuli/puppet-icinga2, pull requests merged in 2020-01, with the labels that each got.

#598 Porting functions to the modern Puppet 4.x API
  lib/puppet/functions/icinga2/icinga2_attributes.rb
  lib/puppet/functions/icinga2/icinga2_ticket_id.rb
  spec/functions/icinga2_icinga2_attributes_spec.rb
  spec/functions/icinga2_icinga2_ticket_id_spec.rb
Labels: development, enhancement

#599 add missing EPEL repo on RedHat
  README.md
  examples/example4/profile/manifests/agent.pp
  examples/example4/profile/manifests/master.pp
  examples/example4/profile/manifests/slave.pp
  examples/init_api.pp
  examples/init_confd.pp
  examples/init_idomysql.pp
  examples/init_idomysql_ssl.pp
  examples/init_idopgsql.pp
  examples/init_influxdb.pp
  examples/init_master.pp
  examples/init_plugins.pp
  examples/init_repo.pp
  examples/init_slave.pp
  examples/init_slave_validate.pp
  examples/init_syslog.pp
  examples/objects_from_hiera.pp
  metadata.json
  spec/acceptance/class_spec.rb
  spec/spec_helper_acceptance.rb
Labels: bug, documentation

#600 RHEL 8 support
  .bundle/config
  Gemfile
  examples/init_repo.pp
  metadata.json
  spec/acceptance/class_spec.rb
  spec/acceptance/nodesets/centos-8-x64.yml
Labels: enhancement

#603 Enhancement/allow to get attributes from function result
  README.md
  lib/puppet_x/icinga2/utils.rb
  manifests/object/checkcommand.pp
  spec/functions/attributes_spec.rb
Labels: enhancement

#604 Debian10 support
  manifests/feature/idomysql.pp
  manifests/feature/idopgsql.pp
  metadata.json
  spec/acceptance/nodesets/debian-buster-amd.yml
  spec/acceptance/nodesets/debian-stretch-amd.yml
  spec/classes/idomysql_spec.rb
  spec/classes/idopgsql_spec.rb
Labels: enhancement
