Repository voxpupuli/puppet-icinga2, pull requests merged in 2020-10, with the labels that each got.

#630 Missing parameters
  data/FreeBSD-kernel.yaml
Labels: bug

#640 fix #623 change data types of all certificates and keys
  manifests/feature/api.pp
  manifests/feature/elasticsearch.pp
  manifests/feature/idomysql.pp
  manifests/feature/influxdb.pp
Labels: enhancement

#641 add-unit-tests-for-types
  spec/type_aliases/fingerprint_spec.rb
  spec/type_aliases/interval_spec.rb
  spec/type_aliases/logfacility_spec.rb
  spec/type_aliases/logserverity.rb
  spec/type_aliases/logseverity.rb
  types/fingerprint.pp
Labels: development, enhancement

#642 setting env vars in #618 do not work on Windows
  manifests/feature/api.pp
Labels: bug
