Repository voxpupuli/puppet-icinga2, pull requests merged in 2024-02, with the labels that each got.

#753 Extend connection functionn to use ssl_mode
  REFERENCE.md
  functions/db/connect.pp
  manifests/feature/idopgsql.pp
  spec/classes/idomysql_spec.rb
  spec/classes/idopgsql_spec.rb
  spec/functions/db_connect_spec.rb
Labels: enhancement, cla/signed

#756 README.md: Update badges
  README.md
Labels: cla/signed

#755 dependabot: check for github actions and bundler
  .github/dependabot.yml
Labels: development, cla/signed
