Repository voxpupuli/puppet-icinga2, pull requests merged in 2024-07, with the labels that each got.

#773 Remove Debian Buster support
  metadata.json
Labels: backwards-incompatible

#775 Add support for Fedora 40
  metadata.json
Labels: enhancement

#776 modulesync 9.0.0
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .msync.yml
Labels: modulesync
