Repository voxpupuli/puppet-icinga2, pull requests merged in 2024-05, with the labels that each got.

#762 Release/v5.0.0
  REFERENCE.md
  functions/cert.pp
  functions/newline.pp
  functions/unwrap.pp
  manifests/config.pp
  manifests/config/fragment.pp
  manifests/feature/api.pp
  manifests/feature/elasticsearch.pp
  manifests/feature/gelf.pp
  manifests/feature/graphite.pp
  manifests/feature/icingadb.pp
  manifests/feature/idomysql.pp
  manifests/feature/idopgsql.pp
  manifests/feature/influxdb.pp
  manifests/feature/influxdb2.pp
  manifests/feature/livestatus.pp
  manifests/feature/mainlog.pp
  manifests/feature/opentsdb.pp
  manifests/feature/syslog.pp
  manifests/feature/windowseventlog.pp
  manifests/object.pp
  manifests/object/apiuser.pp
  manifests/object/endpoint.pp
  manifests/pki/ca.pp
  manifests/tls/client.pp
  metadata.json
  spec/functions/cert_spec.rb
  spec/functions/db_connect_spec.rb
  spec/type_aliases/logseverity_spec.rb
  types/logseverity.pp
Labels: cla/signed

#763 modulesync 7.5.0
  .github/CONTRIBUTING.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitignore
  .msync.yml
  .pmtignore
  .puppet-lint.rc
  .rubocop.yml
  .sync.yml
  Rakefile
Labels: modulesync

#764 Release 5.0.0
  README.md
  RELEASE.md
  TESTING.md
  metadata.json
Labels: skip-changelog

#765 Release 5.0.0
  CHANGELOG.md
  metadata.json
Labels: skip-changelog

#766 Fix wrong module name
  README.md
  metadata.json
Labels: bug

#767 Release 5.0.1
  CHANGELOG.md
  metadata.json
Labels: skip-changelog
